.prose {
	font-family: monospace;
	h1 {
		font-size: var(--text-2xl);
		font-weight: bold;
	}

	h2 {
		font-size: var(--text-xl);
		font-weight: bold;
	}

	h3 {
		font-size: var(--text-lg);
		font-weight: bold;
	}

	a {
		text-decoration: underline;
		color: var(--color-teal-900);
	}
}
